<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='synaptech_logo.png') }}">
</head>
<body>
    <div class = 'container'>
        <h1>App</h1>

        <form method="POST">
            <button type="submit" name="button1">Get min</button>
            <button type="submit" name="button2">Get max</button>
        </form>

        <p>{{alpha}}</p>
        <p>{{beta}}</p>
        <p>{{theta}}</p>
        <p>{{delta}}</p>

    <footer>
        <p>spiderman yay</p>
    </footer>
    </div>

</body>
</html>